form {
  display: flex;
  gap: 5px;
}

form * {
  font-size: 20px;
}
* {
    background-color: #000000;
    color: #ffffff;
}
.App{
    display: grid;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
}